# Development requirements

# Mirror the basic requirements
-r requirements.txt

# Formatting
black

# Linting
flake8

# Testing
pytest
git+git://github.com/pytest-dev/pytest-qt.git@a2d49ceaab78bd981348f829ad74db5f56d85ae9
