# Development requirements

# Mirror the basic requirements
-r requirements.txt

# Formatting
black

# Linting
flake8

# Testing
pytest
git+git://github.com/pytest-dev/pytest-qt.git@4c1a674addb5b3fa442932d8296ef2dbe25c34ca
